.FoodItemModal {
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.FoodItemModal.show {
  opacity: 1;
  pointer-events: visible;
}

/* CONTENT */
.FoodItemModal-content {
  width: 21.875rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* HEADER */
.FoodItemModal-header {
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.FoodItemModal-title {
  margin: 0;
}

/* BODY */
.FoodItemModal-body {
  height: 30rem;
  padding: 0.625rem;
  border-top: 0.063rem solid #eee;
  border-bottom: 0.063rem solid #eee;
}

.FoodItemModal-text {
  padding: 0;
  margin: 0;
}

/* DATA (ELLIPSES AND DATES) */
.FoodItemModal-info {
  display: flex;
  position: relative;
}

/* DATES */
.Freshness-data {
  position: relative;
  top: 1.125rem;
  left: 5rem;
}

.Use-Within {
  position: relative;
  padding: 0.125rem;
}

#use-within {
  background-color: #fff;
  border-radius: 45px;
  border: 0.1rem solid black;
}

.Date-Added {
  position: relative;
  padding: 0.125rem;
}

.Days-Remaining {
  border: 0.1rem solid black;
  background-color: white;
  border-radius: 0.75rem;
}

/* ELLIPSE CONTENT */
.Fresh-bar {
  position: relative;
  left: 1.063rem;
}

.fresh-ellipse {
  background-color: #81cd96;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
}

.halfFresh-ellipse {
  background-color: #81cd96;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  background-image: linear-gradient(to left, transparent 50%, #eaeaea 0);
}

.notFresh-ellipse {
  background-color: #eaeaea;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
}

.white-ellipse {
  position: relative;
  top: 0.625rem;
  left: 0.625rem;

  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-align: center;
}

.freshness-text {
  position: relative;
  top: 1.688rem;

  font-size: 0.875rem;
  text-align: center;
}

/* CHIPS */
.FoodItemModal-Amount {
  position: relative;
  top: 1.25rem;
}

.FoodItemModal-Amount .FoodItemModal-text {
  position: relative;
  text-align: left;
  padding: 0.313rem;
  padding-left: 1.031rem;
}

#FoodItemModal-chips {
  position: relative;
  float: left;
  left: 15.5px;
}

.chip-Lots.unpressed {
  border: 0.1rem solid rgb(129, 205, 150);
  background-color: white;
  color: rgb(129, 205, 150);
  margin: 1px;
}
.chip-Lots.pressed {
  border: 0.1rem solid rgb(129, 205, 150);
  color: white;
  background-color: rgb(129, 205, 150);
  margin: 1px;
}

.chip-Some.unpressed {
  border: 0.1rem solid rgb(129, 187, 205);
  background-color: white;
  color: rgb(129, 187, 205);
  margin: 1px;
}
.chip-Some.pressed {
  border: 0.1rem solid rgb(129, 187, 205);
  color: white;
  background-color: rgb(129, 187, 205);
  margin: 1px;
}

.chip-Few.unpressed {
  border: 0.1rem solid rgb(205, 175, 129);
  background-color: white;
  color: rgb(205, 175, 129);
  margin: 1px;
}
.chip-Few.pressed {
  border: 0.1rem solid rgb(205, 175, 129);
  color: white;
  background-color: rgb(205, 175, 129);
  margin: 1px;
}

/* NOTES */
.FoodItemModal-Notes {
  position: relative;
  top: 4.688rem;
}

.FoodItemModal-Notes .headline {
  position: relative;
  right: 12.281rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.FoodItemModal-Notes .Notes {
  width: 90%;
  height: 6.25rem;
  padding: 0.75rem 1.25rem; /* padding inside the text */
  margin: 0.125rem 0; /* the px gives it room away from "Notes" and 0 centers it */
  display: inline-block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: none;
}

/* FOOTER */
.FoodItemModal-footer {
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}
