h1.login-title {
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    padding-top: 8rem;
    margin-left: 0rem;
    padding-bottom: 0rem;
}

.login-user{
    padding: 0.25rem;
    width: 15rem;

}

.login-password{
    padding: 0.25rem;
    width: 15rem;

}

.user-box{
    padding-bottom: 1rem;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.login-submit{
    font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto";
    padding: 0.25rem;
    width: 15rem;
    border-width: 1px;
    border-style: outset;
    border-radius: 4px;
}

.login-submit:hover{
    font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto";
    padding: 0.25rem;
    width: 15rem;
    background-color:rgb(81, 121, 209);
    border-width: 1px;
    border-style: outset;
    border-radius: 4px;
}

.user-submitbox{
    padding-top: 3rem;
    justify-content: center;
}

.login-text{
    text-align: left;
}