.storage-back-button {
  top: 1.5rem;
  left: -12rem;
}

.button-text {
  text-decoration: none;
}

.button-text:active {
  color: black;
}

.button-text:visited {
  color: black;
}

.food-group {
  margin-left: 2.6rem;
  font-size: 25px;
}

.searchlist-search-bar {
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
