.storage-back-button {
  top: 1.5rem;
  left: -12rem;
  padding-bottom: 2rem;
}

.button-outline {
  padding-bottom: 3rem;
  padding-right: 1.5rem;
}

.button-text {
  text-decoration: none;
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto";
  font-weight: 300;
}

.button-text:active {
  color: black;
}

.button-text:visited {
  color: black;
}

.food-group {
  margin-left: 2.6rem;
  font-size: 25px;
}

.searchlist-search-bar {
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
