.storage-item {
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto";
  display: flex;
  justify-content: space-between;
  border: 2px black;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 85%;
  background-color: white;
  border-bottom: solid;
  border-bottom-color:#bbb;
  border-bottom-width: 1px;
}

.item-left{
  display: block;
  text-align: left;
}

.item-name {
  vertical-align: text-top;
  font-size: 15px;
  margin: 0px;
}

.all-time{
  text-align: right;
  display: block;
}

.spoil-time {
  margin: 2px;
  font-size: 8px;
  display: block;
  text-align: right;
}

.default-time {
  margin: 2px;
  font-size: 8px;
  display: block;
  text-align: right;
}

.storage-days{
  margin-left: 0px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.storage-settings-popup{
  display: flex;
  flex-direction: column;
}

.storage-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 3rem;
  padding-right: 2rem;
  align-content: left;
}

.storage-setting-num{
  color: #424242;
}