.box {
    text-align: center;
    width: 80%;
    height:2rem;
    border: solid 0.05rem #000 ;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 1.5rem;
    margin-left:3rem;
    border-radius:5px;
  }
  
  .ingredientButton {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top:-0.2rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    border-radius:5px;
    outline:0;
    width:40px;
    height:40px;
  }
  .text{
    margin-top:-0.05rem;
  }
  