.webModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    pointer-events: none; 
    opacity: 0;
  }
  
  .webModal.show {
    opacity: 1;
    pointer-events: visible;
  }
  
  .webModal-content {
    margin-top:2rem;
    width: 500px;
    background-color:white;
    transition: all 0.3s ease-in-out;
  }
  
  .back{
    margin-left:-25rem;
    padding: 10px;
  }

  .webModal-header{
  padding: 10px;
}
  
  
  
  .webModal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  