.FoodItemModal {
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.FoodItemModal.show {
  opacity: 1;
  pointer-events: visible;
}

/* CONTENT */
.FoodItemModal-content {
  width: 350px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* HEADER */
.FoodItemModal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.FoodItemModal-title {
  margin: 0;
}

/* BODY */
.FoodItemModal-body {
  height: 480px;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* .FoodItemModal-Notes {
} */

/* Notes Text Area */
.FoodItemModal-Notes .Notes {
  width: 100%;
  height: 80px;
  padding: 12px 20px; /* padding inside the text */
  margin: 8px 0; /* the px gives it room away from "Notes" and 0 centers it */
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  /* resize: vertical; */
}
.ellipse {
  background-color: #81cd96;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.white-ellipse {
  background-color: white;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  /* left: 10; */
  text-align: center;
}

.freshness-ellipse {
  text-align: center;
}

/* good */
/* FOOTER */
.FoodItemModal-footer {
  padding: 10px;
  display: flex;
  /* float: right; */
  justify-content: space-between;
}
