.FoodItemModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.FoodItemModal.show {
  opacity: 1;
  pointer-events: visible;
}

.FoodItemModal-content {
  width: 500px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transition: all 0.6s;
}

.FoodItemModal-header,
.FoodItemModal-footer {
  padding: 10px;
}

.FoodItemModal-title {
  margin: 0;
}

.FoodItemModal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: ease-in-out;
  text-shadow: aqua;
}
