.Temp{
  display: flex;
  justify-content: center;
}


.Item {
  border: 2px black;
  font-size: 15px;
  margin: 0px;
  padding: 20px;
  position: sticky;
  width: 100%;
  background-color: white;
}

.Item-name {
  margin: 0px;
  position: absolute;
  height: 60px;
  left: 60px;
}

.Spoil-time {
  margin: 0px;
  font-size: 10px;
  position: absolute;
}

.Default-time {
  margin: 0px;
  font-size: 10px;
  position: absolute;
  right: 60px;
}
