.header {
  text-align: left;
  padding-left: 40px;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  border-spacing: 10;
  width: 85%;
  border: 1px solid #ddd;
}

td {
  text-align: left;
  font-size: 1rem;
  padding: 10px;
}

/* tr:nth-child(even) {
  background-color: aqua;
}
 */

td:nth-child(even):hover {
  background-color: black;
  color: white;
}
td:nth-child(odd):hover {
  background-color: #ddd;
  /* color: white; */
}
/* table {
  padding-top: 0px;
  border-collapse: separate !important;
  padding-left: 50px;
  padding-right: 50px;
} */

.title {
  margin-right: 1rem;
}

.daysChip {
  margin-right: 1rem;
}

.chip {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  display: inline;
  border: 1px solid rgb(129, 205, 150);
  border-radius: 10px;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  color: rgb(129, 205, 150);
}
.chip2 {
  font-weight: 400;
  background-color: rgb(129, 205, 150);
  color: white;
}

/* p {
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
} */

.dot {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

.dotGreen,
.chipGreen {
  background-color: rgb(129, 205, 150);
  border: 1px solid rgb(129, 205, 150);
}

.dotYellow,
.chipYellow {
  background-color: rgb(200, 205, 129);
  border: 1px solid rgb(200, 205, 129);
}

.dotRed,
.chipRed {
  background-color: rgb(205, 129, 129);
  border: 1px solid rgb(205, 129, 129);
}
